@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: "Red Hat Display";
    font-weight: 500;
    overflow: hidden;
    max-width: 1440;
    user-select: none;
}
body p,a {
    color:hsl(224, 23%, 55%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
}
.content{
    background-color: white;
    border-radius: 20px;
    width: 450px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;  
}
.content img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content p{
    margin: 1px auto;
    width: 360px;
}
.helo{
    margin:20px 20px 30px 70px;
    display: flex;
    flex-direction: row;
}
.helo a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.helo a:hover{
    text-decoration: none;
    color:hsl(245, 87%, 69%);
}
.helo img{
    margin-right: 20px;
}
.helo p{
    margin-right: 80px;
}
.proceed{
    margin: 0 auto 30px auto;
    width: 350px;
    background-color:  hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: (0,0,0,0);
    box-sizing: border-box;
    border: solid 1px rgba(255, 255, 255, .05);
    cursor: pointer;
}
.proceed p {
    color: white;
}
.proceed:hover{
    background-color: hsl(245, 87%, 69%);
}
.content a{
    color: hsl(245, 75%, 52%);
}
.a a{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}
.a a:hover{
    color: hsl(221, 20%, 19%);
    font-weight: 900;
}

@media  (max-width:600px){
    body {
        background: hsl(225, 100%, 94%) url("images/pattern-background-mobile.svg") no-repeat fixed top;
        background-size: contain;
      }
}